*{
	padding: 0;
	margin: 0;
	border: 0;
	color: #333;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
button{
		background: none;
}

ul{
		list-style: none;
}

input:focus {
 		outline: none;
}

a img{
	vertical-align: bottom;
}

body{
	font-family: 'Montserrat';
	background: #fff;
}
/*---------------------------------*/

/*header*/

.conteiner{
	max-width: 1170px;
	margin: 0 auto;
}
@media screen and (max-width: 1200px){
	.conteiner{
		width: 90%;
		margin: 0 auto;
		padding: 0px 20px;
	}
}

.header__inner{
	background: #0D090E;
}

.header-logo{
	margin: 0 auto;
	width: 300px;
	padding-top: 40px;
	padding-bottom:5px;
}

.header-logo img{
	width: 300px;
	display: block;
}

.header-logo a{
	width: 100%;
}

.menu__list{
	display: flex;
	flex-wrap: wrap;
}

.menu__list > li {
	margin-right: 60px;
	margin-top: 30px;
}

.menu__link{
	transition-duration: 0.1s;
}
.menu__link:hover{
	box-shadow: 30px 30px 70px #333;
	border-radius: 5px;
	background: #fff;
	color: #333;
}

.menu__list > li:last-child{
	margin-right: 0px;
}
.nav__menu{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub-menu__list{
	display: none;
	position: absolute;
	z-index: 2;
	background: #fff;
	color: #333;
	border-radius: 5px;
	margin-bottom: 20px;

}
.sub-menu__list li a{
	color: #333;
}

.menu__list > li:hover .sub-menu__list{
	display: block;
}

.sub-menu__list li{
	margin-bottom: 10px;
}

.sub-menu__list li:first-child{
	margin-top: 10px;
}

.sub-menu__list li:last-child{
	margin-bottom: 0px;
}

.nav__menu{
	font-size: 18px;
	padding-bottom: 60px;
}

.menu__link, .sub-menu__link{
	color: #fff;
}


@media screen and (max-width: 576px){
	.menu__list > li{
	margin-right: 40px;
	}

	.menu__list{
	justify-content: center;
}
}

/*-------------------------------------*/

/*section1*/

.slide img{
	height: 600px;
	width: 100%;
	object-fit: cover;
}

.slide{
	width: 100%;
}

.slider{
	position: relative;
	z-index: 1;
}

.slider .slick-dots {
	bottom: -40px;
}
/*---------------------*/

/*section2*/

h2{
	font-weight: 500;
	font-size: 90px;
	/*color: #333;*/
	line-height: 0.8;
}

@media screen and (max-width: 768px){
	h2{
		font-size: 70px;
	}
}

.section__title{
	padding-top: 80px;
	margin-bottom: 50px;
}


.section__text hr{
	height: 1px;
	width: 270px;
	background: #ECE549;
	margin-bottom: 50px;
}

.section2__text{
	padding-left: 10px;
}

.section__text p{
	font-weight: 400;
	color: #747171;
	line-height: 1.8;
	width: 70%;
	padding-bottom: 50px;
}

.section2_image img{
 	object-fit: cover;
 	width: 100%;
 	height: 100%;
 	margin-bottom: -10px;
}

@media screen and (max-width: 768px){
	.section__text p{
		width: 100%;
	}
}

/*--------------------------------*/

/*section3*/

.section3{
	background: #FFE926;
}

.section3__text hr{
	background: #333;
}

.section3__title{
	padding-top: 80px;
}

.section3__title, .section3__text{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

.section3__text{
	padding-right: 10px;
}

/*-----------------------*/

.section4__title{
	width: 390px;
	margin: 0 auto;
/*	padding-top: 80px;*/
	margin-bottom:50px;
}

@media screen and (max-width: 768px){
	.section4__title{
	width: 305px;
	
}
}

.slider2{
	width: 90%;
	margin: 0 auto;
	height: 400px;

}

.slider2__slide img{
	height: 400px;
	width: 100%;

}

.slider2 .slick-arrow{
	color: #000;
}

.slider2 .slick-arrow:before{
	color: #000;
}

.slider2 .slick-next{
	right: -60px;
	padding-right:20px;
}

.slider2 .slick-prev{
	left: -80px;
	padding-left: 20px;
}

.slick-dots li button:before{
	width: 40px;
	height: 40px;
}

.slider2 .slick-dots {
	bottom: -40px;
}

.slider2__slide img{
	object-fit: cover;
}
/*------------------------*/

/*section5*/
.section5__title{
	width: 100%;
	margin: 0 auto;
	word-break: break-all;

}

.section__title hr{
	height: 1px;
	background: #ECE549;
	margin-bottom: 70px;
	margin-top: 70px;
}

 h3{
	font-weight: 500;
	font-size: 90px;
	line-height: 0.8;
	font-size: 40px;
}

.section5__card img{
	object-fit: cover;
	width: 100%;
	box-shadow: 0px 15px 30px rgba(236, 229, 73, 0.4);
}

.section5__card img:hover{
	box-shadow: none;
}

.section5__card{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}
.section5__card .card__title{
	margin-bottom: 30px;
}

.section5__cards{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 80px;
}

.card__title{
	word-break: break-all;
	text-align: center;
	padding: 0px 15px;
}

/*.section5__card:first-child{
	padding-left: 30px;
}

.section5__card:last-child{
	padding-right: 30px;
}*/


/*------------------------------*/

footer{
	background: #0D090E;
}

.footer__links{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer__links > a{
	color: #fff;
	margin-bottom: 12px;
	font-size: 14px;s
}
